

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px 100px;
    margin-bottom: 20px;
   /* width: 100%; */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.NavHome a {
    padding: 0 20px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a {
    padding: auto;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

#slackProfile {
    display: block;
    text-align: center;
}

.profile img{
    width: 80px;
    height: 70px;
}

#info {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.mission {
    display: flex;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.mission div {
    flex: 1;
}

.mission .imgDiv {
    flex: 1;
}

.mission img {
    width: 100%;
    height: 100%;
}

#goals li {
    list-style-type: none;
    line-height: 25px;
}
.hngHover:hover {
    background-color: chocolate;
    color: white;
}

#info p, #links p {
    margin: 5px 0;
}



.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
}


.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    text-decoration: none;
    color: chocolate;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: darkorange;
}


@media (max-width: 800px) {
    .container {
        padding: 10px;
    }

    #slackProfile img {
        width: 100px;
        height: 100px;
    }

    #info {
        flex-direction: column;
        gap: 30px;
        padding: 0 0px;
    }

    .mission {
        flex-direction: column;
    }

    .mission .imgDiv {
        display: block;
        width: 100%;
    }

    .mission img {
        width: 100%;
    }

    h1, h2 {
        font-size: 16px;
    }

    footer div {
        flex-direction: column;
        gap: 40px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: white;
        position: absolute;
        top: 80px;
        left: 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .nav-links a {
        padding: 15px 0;
    }

    .hamburger {
        display: block;
    }

    nav.active .nav-links {
        display: flex;
    }
     .mission {
        padding: 0px;
        padding-top: 40px;
    }
    nav {
        padding: 0px;
        margin: 0;
        width: 100%;
    }
}
